div {  border: 3px solid; color: #ebebeb }




body {
  background-color: #777;
  text-align: center;
  color: #777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
header {
  height: 95px;
  width: 940;
  background-color: #ebebeb;
  padding: 20px;
}
nav {
  height: 95px;
  width: 940;
  background-color: #ebebeb;
  padding: 20px;
}
article {
  background-color: #777;
  color: #ebebeb;
  
}
aside {
  float: right;
  width: 495px;
  height: 200px;
  padding: 20px;
  background: #ebebeb;
  border: 20px solid;
}
footer {
  background-color: #ebebeb;
  padding: 20px;
  height: 95px;
  width: 940;

}
section {
  width: 495px;
  height: 200px;
  padding: 20px;
  background: #ebebeb;
  border: 20px solid;
}
article {
  margin-top: 60px;
  box-sizing: padding-box;
}
h1 {
  border: solid #ebebeb;
  background-origin: padding-box;
  box-sizing: content-box;
  align-content: center;
}
p {
  border: solid #ebebeb;
  background-origin: padding-box;
  box-sizing: border-box;
  align-content: center;
}
footer{
  text-align: center;
  color: black;
}